.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    position: relative;
}

.content {
    margin-top: 40px;
}

.title-section {
    width: 60%;
    margin: auto;
}

.names-section {
    width: 95%;
    margin: auto;
}

.matching-groups {
    text-align: left;
}

.member-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    justify-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.member-card {
    border-radius: 16px;
    padding: 2rem;
    width: 500px;
    height: 100px;
    font-size: 1.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.member-card:hover {
    transform: translateY(-3px);
}

.name-display {
    margin-right: 20px;
}

.message-item.mine {
  background-color: #dcf8c6;
  border-left: 4px solid #bcf58e;
}

.message-item.other {
  background-color: #f1f0f0;
  border-left: 4px solid #f59898;
}