
.container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
    position: relative;
}

.content {
    margin-top: 40px;
}

.search-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

input {
    margin-left: 20px
}

button {
    margin-left: 10px;
}

.matching-groups {
    text-align: left;
}

.group-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    justify-items: center;
    margin-top: 2rem;
}


.group-card {
    border-radius: 16px;
    padding: 2rem;
    width: 280px;
    height: 160px;
    font-size: 1.4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.group-card:hover {
    transform: translateY(-3px);
}

.remove-group-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: transparent;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s ease;
}

.remove-group-btn:hover {
    color: #f02b2b;
}