.message-header{
    margin-top: 20px;
}

.message-tutor-student{
    margin-bottom: 20px;
}

.header-container{
    position: sticky;
    top: 0;
    height: 200px;
}

.chatroom-container{
    padding-top: 200px;
}